

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS




#include "winres.h"


#undef APSTUDIO_READONLY_SYMBOLS




#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
#pragma code_page(936)






VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,1,0
 PRODUCTVERSION 2,0,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "100404b0"
        BEGIN
            VALUE "CompanyName", "ExplorerBlurMica"
            VALUE "FileDescription", "https:
            VALUE "FileVersion", "2.0.1.0"
            VALUE "InternalName", "ExplorerBlurMica.dll"
            VALUE "LegalCopyright", "Copyright (C) Maplespe 2022-2024"
            VALUE "OriginalFilename", "ExplorerBlurMica.dll"
            VALUE "ProductName", "ExplorerBlurMica"
            VALUE "ProductVersion", "2.0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x1004, 1200
    END
END

#endif    






#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ZHI)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SINGAPORE
#pragma code_page(936)

#ifdef APSTUDIO_INVOKED





1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    

#endif    




#ifndef APSTUDIO_INVOKED







#endif    

